<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="../../static/css/crudForms.css" th:href="@{/css/crudForms.css}">
</head>
<body>
    <main class="crudFormMain">
        <nav>
            <h2>Create</h2>
        </nav>
        <form action="#" th:action="@{/products/new}" th:object="${products}" method="post" class="crudForm">
            <input type="number" required th:field="*{productId}" placeholder="Product ID:">
            <input type="text" required th:field="*{productName}" placeholder="Product name:">
            <input type="number" required th:field="*{supplierId}" placeholder="Supplier id:">
            <input type="text" required th:field="*{quantityPerUnit}" placeholder="Quantity per unit:">
            <input type="number" required th:field="*{unitPrice}" placeholder="Unit price:">
            <input type="number" required th:field="*{unitsInStock}" placeholder="Units in stock">
            <input type="number" required th:field="*{unitsOnOrder}"placeholder="Units on order:">
            <input type="number" required th:field="*{reorderLevel}" placeholder="Reorder level:">
            <input type="number" required placeholder="Discontinued:">
            <button type="submit" value="crear">Crear</button>
        </form>
        
    </main>
</body>
</html>