<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Northwind Proyect</title>
</head>
<body>
    <main>

        <h1>Products</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Stock</th>
                <th></th>
            </tr>
            <tr th:each="customers : ${customers}">
                <td th:text="${customers.customerId}"></td>
                <td th:text="${customers.companyName}"></td>
                <td th:text="${customers.contactName}"></td>
                <td th:text="${customers.address}"></td>
                <td>Editar</td>
                <td>Eliminar</td>

            </tr>
        </table>
    </main>
</body>
</html>