<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers</title>
    <link rel="stylesheet" href="../../static/css/crudForms.css" th:href="@{/css/crudForms.css}">
</head>
<body>
    <main>
        <h1>Registro</h1>
        
        <form action="">
            <input type="text" required placeholder="Company name">
            <input type="text" required placeholder="Contact name">
            <input type="text" required placeholder="Company title">
            <input type="text" required placeholder="Address">
            <input type="text" required placeholder="City">
            <input type="text" required placeholder="Region">
            <input type="text" required placeholder="Postal Code">
            <input type="text" required placeholder="Country">
            <input type="text" required placeholder="Phone">
            <input type="text" required placeholder="Fax">

            <button>Enviar</button>
        </form>
    </main>
</body>
</html>