<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers</title>
</head>
<body>
    <main>
        <h1>Registro</h1>
        
        <form action="">
            <input type="text" placeholder="Company name">
            <input type="text" placeholder="Contact name">
            <input type="text" placeholder="Company title">
            <input type="text" placeholder="Address">
            <input type="text" placeholder="City">
            <input type="text" placeholder="Region">
            <input type="text" placeholder="Postal Code">
            <input type="text" placeholder="Country">
            <input type="text" placeholder="Phone">
            <input type="text" placeholder="Fax">

            <button>Enviar</button>
        </form>
    </main>
</body>
</html>