<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Northwind Proyect</title>
    <link rel="stylesheet" href="../../static/css/products.css" th:href="@{/css/products.css}">
</head>
<body>
    <main>
        <nav>
            <h2>Proyect</h2>

            <div>
                <a href="">Products</a>
                <a href="">Employees</a>
                <a href="">Clients</a>
            </div>
        </nav>

        <table>
            <tr>
                <th>ID</th>
                <th>Company</th>
                <th>Contact</th>
                <th>Phone</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="suppliers : ${suppliers}">
                <td th:text="${suppliers.supplierId}"></td>
                <td th:text="${suppliers.companyName}"></td>
                <td th:text="${suppliers.contactName}"></td>
                <td th:text="${suppliers.phone}"></td>
                <td><button><a th:href="@{/suppliers/{id}/edit(id=${suppliers.supplierId})}">Editar</a></button></td>
                <td>
                    <form th:action="@{/suppliers/{id}(id=${suppliers.supplierId})}" method="post">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            <button><a href="/suppliers/create">Create</a></button>
        </table>

    </main>
</body>
</html>