<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Northwind Proyect</title>
    <link rel="stylesheet" href="../../static/css/products.css" th:href="@{/css/products.css}">
</head>
<body>
    <main>
        <nav>
            <h2>Proyect</h2>

            <div>
                <a href="">Products</a>
                <a href="">Employees</a>
                <a href="">Clients</a>
            </div>
        </nav>

        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="categories : ${categories}">
                <td th:text="${categories.categoryId}"></td>
                <td th:text="${categories.categoryName}"></td>
                <td th:text="${categories.description}"></td>
                <td><button><a th:href="@{/categories/{id}/edit(id=${categories.categoryId})}">Editar</a></button></td>
                <td>
                    <form th:action="@{/categories/{id}(id=${categories.categoryId})}" method="post">
                        <input type="hidden" name="_method" value="delete" />
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            <button><a href="/products/create">Create</a></button>
        </table>

    </main>
</body>
</html>