<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="./styles/create.css">
</head>
<body>
    <main>
        <form action="#" th:action="@{/employees/new}" th:object="${employee}" method="post">
            <input type="number" placeholder="Product ID:">
            <input type="text" placeholder="Product name:">
            <input type="number" placeholder="Supplier id:">
            <input type="text" placeholder="Quantity per unit:">
            <input type="number" placeholder="Unit price:">
            <input type="number" placeholder="Units in stock">
            <input type="number" placeholder="Units on order:">
            <input type="number" placeholder="Reorder level:">
            <input type="number" placeholder="Reorder level:">
            <input type="number" placeholder="Reorder level:">
            <input type="text" placeholder="Reorder level:">
            <input type="text" placeholder="Reorder level:">
            <input type="number" placeholder="Reorder level:">
            <input type="number" placeholder="Reorder level:">
            <input type="number" placeholder="Reorder level:">
            <input type="number" placeholder="Reorder level:">
            <input type="number" placeholder="Reorder level:">
            <input type="number" placeholder="Reorder level:">

            <button type="submit">Crear</button>
        </form>
        
    </main>
</body>
</html>