<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Northwind Proyect</title>
</head>
<body>
    <main>

        <h1>Empleados</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Posición</th>
                <th>Salario</th>
                <th></th>
            </tr>
            <tr th:each="employees : ${employees}">
                <td th:text="${employees.employeeId}"></td>
                <td th:text="${employees.firstName}"></td>
                <td th:text="${employees.lastName}"></td>
                <td th:text="${employees.title}"></td>
                <td>Editar</td>
                <td>Eliminar</td>

            </tr>
        </table>
    </main>
</body>
</html>